{% extends "search/_search_content.html" %}
{% load i18n %}

{% block cart %}
    <resource-cart></resource-cart>
{% endblock %}

{% block bulk_perms_button %}
    <div class="btn-group btn-group-justified" role="group" aria-label="tools">
      {% if request.user.is_authenticated %}
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-disabled="!cart.getCart().items.length" data-toggle="modal" data-target="#_bulk_permissions">{% trans "Set permissions" %}</button>
      </div>
      {% endif %}
      {% if facet_type == 'layers' %}
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-disabled="!cart.getCart().items.length" ng-click="newMap()">{% trans "Create a Map" %}</button>
      </div>
      {% endif %}
    </div>
{% endblock %}