{% extends "search/_search_content.html" %}
{% load i18n %}

{% block cart %}
    <h4>{% trans "Selected layers" %}</h4>
    <div ng-hide="cart.getCart().items.length">
        {% trans "No layers selected" %}
    </div>
    <resource-cart></resource-cart>
{% endblock %}

{% block bulk_perms_button %}
    <button type="button" class="btn btn-primary" ng-disabled="!cart.getCart().items.length" ng-click="newMap()">{% trans "Create a Map" %}</button>
{% endblock %}

{% block card %}
    {% include 'layers/_layer_snippet.html' %}
{% endblock %}