{% load i18n %}
{% if SEARCH_FILTERS.CATEGORIES_ENABLED %}
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Categories" %}</a></h4>
  <ul class="nav closed" id="categories">
    {% verbatim %}
      <li ng-repeat="category in categories" ng-if="category.count > 0">
        <a data-value="{{ category.identifier }}" data-filter="category__identifier__in"
         ng-click="multiple_choice_listener($event)" class="{{category.active}}"><div class="fa-stack fa-1g"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa {{category.fa_class}} fa-stack-1x"></i></div>{{ category.gn_description | limitTo: 25 }}{{ category.gn_description.length > 25 ? '...' : ''}}
          <span class="badge pull-right">{{ category.count }}</span>
        </a>
      </li>
    {% endverbatim %}
  </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.DATE_ENABLED %}
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Date" %}</a></h4>
  <ul class="nav closed" id="date_start">
    <label>{% trans "Date begins after:" %}</label>
    <li><input data-date-format="DD-MM-YYYY" type="text" class="datepicker" placeholder="{% trans 'dd-mm-aaaa' %}" ng-model="date_query.date__gte" /></li>
  </ul>
  <ul class="nav closed" id="date_end">
    <label>{% trans "Date ends before:" %}</label>
    <li><input data-date-format="DD-MM-YYYY" type="text" class="datepicker" placeholder="{% trans 'dd-mm-aaaa' %}" ng-model="date_query.date__lte" /></li>
  </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script>
$(document).ready(function(){
    startDatepicker = $(".datepicker:input")[0]
    endDatepicker = $(".datepicker:input")[1]
    startDatepicker.value = "13-08-2000"
    endDatepicker.value = "13-08-2001"
});
</script>
{% endif %}
