{% load i18n %}
<div class="row" ng-controller="CartList">
  <div class="col-md-3">
    {% block cart %}
    {% endblock %}
    <div class="row">
      <div class="col-xs-12">
        {% block bulk_perms_button %}
        {% endblock %}

        <div class="selections">
            <h4 class="d-inline-block">{% trans "Filters" %}</h4>
        </div>
            {% if SEARCH_FILTERS.TEXT_ENABLED %}
              {% include "search/_text_filter.html" %}
            {% endif  %}
        <div id="slide-pane">
            {% if SEARCH_FILTERS.H_KEYWORDS_ENABLED %}
              {% include "search/_h_keywords_filter.html" %}
            {% endif %}
            {% if SEARCH_FILTERS.T_KEYWORDS_ENABLED %}
              {% include "search/_t_keywords_filter.html" %}
            {% endif %}
            {% if SEARCH_FILTERS.TYPE_ENABLED and include_type_filter == 'true' %}
              {% include "search/_type_filters.html" %}
            {% endif %}
            {% include "search/_general_filters.html" %}
            {% if SEARCH_FILTERS.REGION_ENABLED %}
              {% include "search/_region_filter.html" %}
            {% endif %}
            {% if SEARCH_FILTERS.EXTENT_ENABLED %}
              {% include "search/_extent_filter.html" %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="col-md-2">
      <ng-pluralize count="total_counts"
                    when="{'0': 'No hay resultados',
                           '1': '1 resultado',
                           'other': '{} resultados'}">
      </ng-pluralize>
    </div>
    {% include "search/_sort_filters.html" %}
    <div class="col-md-12 grid-spacer">
    {% block card %}
        {% include 'base/_resourcebase_snippet.html' %}
    {% endblock %}
    {% include 'search/_pagination.html' %}
    </div>
  </div>
  {% include "_bulk_permissions_form.html" %}
</div>
