{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}
  {{ site_conf.title }}
{% endblock title %}

{% block extra_tab %} {% endblock %}

{% load i18n %}
  {% block hero %}
  {% with background=site_conf.image_background_url %}
  <div class="jumbotron" style="background-image:url({{background}})">
  {% endwith %}
    <div class="jumbotron_bar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb pull-left">
              <li><a href="">Argentina</a></li>
              <li class="active"><span>Ministerio de Modernización</span></li>
            </ol>
            <ul class="list-inline pull-right">
              <li>
                <div class="search imaginary_container">
                 
                  <form id="search" action="{% url "search" %}" >
                     <div class="input-group stylish-input-group">
                        {% if HAYSTACK_SEARCH %}
                        <input id="search_input" type="text" placeholder="Buscar" name="q" class="form-control">
                        {% else %}
                        <input id="search_input" type="text" placeholder="Buscar" name="title__icontains" class="form-control">
                        {% endif %}
                        <span class="input-group-addon">
                          <button type="submit">
                            <span class="fa fa-search"></span>
                          </button>  
                        </span>
                     </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron_body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>{{ site_conf.title }}</h1>
            <p>{{ site_conf.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
  {% endblock %}

{% block mainbody %}
  <div class="big-search">
  	<div class="container">
  		<h1>{% trans "Search for Data" %}</h1>
  		<div class="search">
  			<form id="search" action="{% url "search" %}" >
  				<span class="fa fa-search fa-2x"></span>
  				{% if HAYSTACK_SEARCH %}
  				<input id="search_input" type="text" placeholder="{% trans "Search" %}" class="form-control" name="q">
  				{% else %}
  				<input id="search_input" type="text" placeholder="{% trans "Search" %}" class="form-control" name="title__icontains">
  				{% endif %}
  			</form>
  		</div>
  		<p><a class="btn btn-primary" href="/search/">{% trans "Advanced Search" %}</a></p>
  	</div>
  </div>

{% block datasets %}
  <section id="datasets">
  	<div class="container">
  		<div class="row">
  			<div class="container text-center">
  				<h1>{% trans "Discover the available datasets" %}</h1>
				{% for taxonomy in taxonomies %}
                <div class="col-xs-4 col-sm-2">
  					<a href="{{taxonomy.search_url}}" data-toggle="tooltip" data-placement="auto"
							title="{{taxonomy.description}}">
                        <div class="panel-default panel-icon">
                          {% if site_conf.icon_display %}
                                  <div class="panel-heading">
                                  {% if taxonomy.has_image %}
                                    <img src="{{taxonomy.image_url}}" >
                                  {% elif taxonomy.has_icon %}
                                    <i class="fa {{taxonomy.icon}} fa-4x"></i>
                                  {% else %}
                                    {% with fa_class=taxonomy.categories.0.fa_class %}
                                    <i class="fa {{fa_class}} fa-4x"></i>
                                    {% endwith %}
                                  {% endif %}
                                </div>
                          {% endif %}
                            <div class="panel-body">
                              <h4>{{taxonomy.identifier}}</h4>
                            </div>
                      </div>
  					</a>
  				</div>
				{% endfor %}
  			</div>
  		</div>
  	</div>
  </section>
  {% endblock %}

  {% block showcase %}
  <section id="showcase">
    <div class="container">
      <div class="row">
        <h2>{% trans "Featured Datasets" %}</h2>
        {% verbatim %}
        <div ng-app="featured">
          <div ng-repeat="item in featured | limitTo:4">
            <div class="col-md-3">
              <a class="panel panel-default" href="#">
                  <div style="background-image:url('{{ item.thumbnail_url }}');" class="panel-heading"></div>
                  <div class="panel-body">
                    <h3 class="ng-binding">{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
  		{% endverbatim %}
      </div>
      <p><a class="btn btn-primary" href="/search/">{% trans "Explore all datasets" %}</a></p>
    </div>
  </section>
  {% endblock %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
</script>
<script>
	$('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock extra_script %}


