{% load i18n %}
<div id="div_id_super-theme-taxonomy" class="form-group">
    <label for="id_super-theme-taxonomy" class="control-label">{% trans 'Super theme taxonomy' %}</label>
    <div class="">
        <select class="has-popover form-control"
                data-container="body"
                data-content="super theme taxonomy of the dataset"
                data-html="true"
                data-placement="right"
                id="id_super-theme-taxonomy"
                name="super-theme-taxonomy"
                data-original-title=""
                title="">
            {% for theme in super_theme_taxonomies %}
                <option value="{{theme.0}}">{{theme.1}}</option>
            {% endfor %}
        </select>


    </div>
</div>