/*CustomizaciÃ³n para Geonode*/

.navbar-brand {
    width: 373px;
}

body {
    padding-top: 0;
}
#wrap {
    background: #F9F9F9;
}


/*HOME*/

.home .jumbotron {
    text-shadow: none;
    padding: 3.75em 0;
}
.stylish-input-group .input-group-addon{
    background: transparent;
}
.input-group-addon {
    color: #fff;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.jumbotron_bar .form-control {
    height: auto !important;
    font-size: 16px !important;
    background-color: transparent !important;
    color: #FFF;
}
#datasets .panel-heading {
    min-height: auto;
}
#datasets .panel-default {
    margin-bottom: 20px;
}
.home .big-search {
    background-color: transparent;
    color: #111;
}
.home .big-search a {
    color: #ffffff;
}
.home .jumbotron form#search {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}
.panel-body {
    border-top: 1px solid #eee;
}
.title-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home #datasets {
  padding: 2em 0;
}
.home #datasets a {
    color: #fff;
    width: 100%;
}

/*Footer*/

footer {
    color: inherit;
}
footer a {
    color: #0695d6 !important;
    font-weight: 500;
}
.main-footer li a {
    font-size: 16px;
}
.main-footer li a {
    padding: 3px 0;
}
.main-footer a.social-link i {
  display: inline-block;
  font-size: 28px;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  width: 46px;
  height: 46px;
}
.main-footer a.social-link:hover i {
  display: inline-block;
  background: #0695d6;
  color: white;
  font-size: 28px;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  width: 46px;
  height: 46px;
}

.profile-avatar li a {
    color: #0695d6;
    font-size: 0.8em;
    text-decoration: none;
}
.profile-avatar li a:hover, .profile-avatar h4 a:hover {
    color: #2fbaf9;
}
.profile-avatar h4 a {
    color: #0695d6;
    text-decoration: none;
}
.profile-avatar {
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.item-details {
    padding: 15px;
}
.list-group-item {
    padding: 10px;
    font-size: 0.85em;
}
nav.filter ul.nav {
    padding: 15px 0;
}
.list-group-item .icon {
    display: none;
}
.item-details .btn-sm {
    margin-right: 0;
}
.form-control {
    color: #111;
    font-size: 14px;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}


.page-header {
  border-bottom: none;
  margin: 44px 0 10px;
}
.btn-wholewidth {
  width: 100%;
}
.hr-sm {
  margin: 15px 0;
}
.m-t-0 {
  margin-top: 0;
}
nav.filter ul li a {
    font-size: 0.8em;
    color: #0695d6;
}
nav.filter .badge {
    padding: 4px 7px;
    font-size: 12px;
    background-color: #acacac;
}
nav.filter .fa-stack.fa-1g {
    margin-right: 5px;
}
nav.filter li a {
    padding: 5px 0px;
}
nav.filter #date_start, nav.filter #date_start input, nav.filter #date_end, nav.filter #date_end input  {
    font-size: 0.85em;
}
nav.filter #date_start {
  padding-bottom: 6px;
}
nav.filter #date_end {
    padding-top: 6px;
}
.panel-icon .panel-heading {
    background-color: #eee;
    text-align: center;
}
.panel h3 a, .panel time a {
  text-decoration: none;
}
.panel time {
  margin-top: 20px;
  font-size: 12px;
}



/* PANEL LANDSCAPE */

.panel-landscape:after{
    display: block;
    content: "";
    clear:both;
}

.panel-landscape{
    margin: 0 0 1em 0;
    position: relative;
}

.panel-landscape a.panel-heading{
    display: block;
}

.panel-landscape .panel-heading{
    position: absolute;
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);
}

.panel-landscape .panel-body{
    position: relative;
    width: 70%;
    margin-left: 30%;
}

.panel-landscape .panel-body p{
    font-size: 16px;
    line-height: 130%;
}

.panel-landscape .btn-corner{
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
}

.panel-landscape .btn-corner + .item-meta{
    padding-right: 50px;
}

.panel-landscape .item-meta{
    margin: 0 0 5px 0;
}



/* NAVSEARCH */

[data-navsearch]{
    position: relative;
}

.navbar-default .nav > [data-navsearch] > a{
    background: #0072bc;
    color: #fff;
    margin-left: 5px;
}

[data-navsearch] form{
    position: absolute;
    left: -585px;
    top: 0;
    width: 590px;
    height: 100%;
    display: none;
}

[data-navsearch] input{
    height: 72px;
    line-height: 72px;
    padding: 0 15px;
    background: #fff;
    border: 0;
    border-left: 3px solid #0072bc;
    border-radius: 0;
    font-size: 18px;
}

[data-navsearch] input:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #0072bc;
}

[data-navsearch].open a:after{
    display: block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

[data-navsearch] .yourlabs-autocomplete{
    top: 72px !important;
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-left: 3px solid #0072bc;
}

[data-navsearch] .yourlabs-autocomplete span{
    color: #333;
    padding-left: 15px;
    padding-right: 15px;
}

[data-navsearch] .yourlabs-autocomplete span.hilight{
    background: #0072bc;
}


/* HEADER MAPS-NEW */

.map-page-body > .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* FOOTER STICK BOTTOM */

@media (min-width: 769px){

    body{
        position: relative;
        padding-bottom: 250px;
    }

    footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }

}


/* FILTERS / LIST-GROUP */

.node-treeview{
    color: #000;
}

.treeview-second-level{
    color: #767676;
}


/* ACCORDION */


.accordiontree{
    font-size: 20px;
}

.accordiontree .list-group-item > a {
    font-weight: bold;
}

.accordiontree .list-group-item{
    font-size: 20px;
    padding: 0.85em;
}

.accordiontree li{
    padding: 6px 0 2px 0;
}

.accordiontree ul{
    display: none;
    list-style-type: none;
}

.accordiontree button{
    line-height: 30px;
    width: 40px;
    text-align: center;
    color: #333;
    border: 0;
    background: transparent;
    transition: transform 0.2s;
}

.accordiontree button:focus,
.accordiontree button:active{
    outline: none;
}

.accordiontree button[disabled]{
    color: #e0e0e0;
}

.accordiontree .opened{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}




/* FIX FILTERS-TITLE */

.selections{
    position: relative;
}

.selections h4{
    display: block;
    padding-right: 60px;
}

.selections #clear-search{
    position: absolute;
    right: 0;
    bottom: 0;
}



/* REESULTS TOPBAR */

.results-topbar{
    padding-top: 9px;
}

.results-topbar button{
    margin-bottom: 0;
}

.results-topbar p{
    margin-top: 15px;
    font-size: 16px;
}

.results-topbar .dropdown-menu{
    margin-top: 10px;
}

.results-topbar #sort a:hover{
    color: #fff;
}