{% for node in nodes %}
    {% if node.has_parent %}
       <ul>
       <li>
    {% else %}
        <ul class="list-group accordiontree" data-accordiontree>
        <li class="list-group-item">
    {% endif %}
    <button class="fa fa-chevron-right"></button>
    <a href="{{ node.group.filter_url }}">{{ node.title }}</a>
    {% if node.children %}
       {% with nodes=node.children %}
            {% include "snippets/group_tree.html" %}
       {% endwith %}
    {% endif %}
    </li>
</ul>
{% endfor %}
<script src="{{ STATIC_URL }}geonode/js/acordiontree.js"></script>