{% for node in nodes %}
    {% if node.has_parent %}
        <li>
    {% else %}
        <li class="list-group-item">
    {% endif %}
    {% if node.children %}
        <button class="fa fa-chevron-right"></button>
        <a href="{{ node.group.filter_url }}">{{ node.title }}</a>
       <ul>
       {% with nodes=node.children %}
            {% include "snippets/group_tree.html" %}
       {% endwith %}
       </ul>
    {% else %}
        <button class="fa fa-chevron-right" disabled></button>
        <a href="{{ node.group.filter_url }}">{{ node.title }}</a>
    {% endif %}
    </li>
{% endfor %}