<?xml version="1.0" ?>
<layer>
    <titulo>{{ title }}</titulo>
    <fecha_de_referencia>{{ reference_date }}</fecha_de_referencia>
    <tipo_de_fecha_de_referencia>{{ reference_date_type }}</tipo_de_fecha_de_referencia>
    <edicion>{{ edition }}</edicion>
    <resumen>{{ summary }}</resumen>
    <estado>{{ state }}</estado>
    <punto_de_contacto_del_creador_del_dato>{{ creator_contact_pint }}</punto_de_contacto_del_creador_del_dato>
    <punto_de_contacto_del_conjunto_de_metadatos>{{ metadata_contact_point }}</punto_de_contacto_del_conjunto_de_metadatos>
    <frecuencia_de_mantenimiento>{{ maintenance_frequency }}</frecuencia_de_mantenimiento>
    <tema>{{ topic }}</tema>
    <palabras_clave_descriptivas>{{ keywords }}</palabras_clave_descriptivas>
    <restricciones>{{ constraints }}</restricciones>
    <tipo>{{ type }}</tipo>
    <escala>{{ scale }}</escala>
    <idioma_de_los_datos>{{ data_language }}</idioma_de_los_datos>
    <conjunto_de_caracteres_de_los_datos>{{ data_character_set }}</conjunto_de_caracteres_de_los_datos>
    <extension_temporal>{{ temporal_extent }}</extension_temporal>
    <extension_geografica>{{ geographic_extent }}</extension_geografica>
    <descripcion>{{ description }}</descripcion>
    <enlace>{{ link }}</enlace>
    <protocolo>{{ protocol }}</protocolo>
    <nombre_del_enlace>{{ link_name }}</nombre_del_enlace>
    <descripcion_del_enlace>{{ link_description }}</descripcion_del_enlace>
    <linaje>{{ lineage }}</linaje>
    <id_numerico>{{ id }}</id_numerico>
    <identificador_del_metadatos>{{ metadata_identifier }}</identificador_del_metadatos>
    <version_del_metadatos>{{ version }}</version_del_metadatos>
    <idioma_del_metadatos>{{ metadata_language }}</idioma_del_metadatos>
    <conjunto_de_caracteres_del_metadatos>{{ metadata_character_Set }}</conjunto_de_caracteres_del_metadatos>
    <fecha_creacion_del_metadato>{{ metadata_creation_date }}</fecha_creacion_del_metadato>
</layer>