{% load i18n %}
{% verbatim %}
<div class="row">
  <div ng-if="results.length == 0" ng-cloak>
  {% endverbatim %}
    <div><h3>{% trans "No content created yet" %}</h3></div>
  {% verbatim %}
  </div>

  <article ng-repeat="item in results" resource_id="{{ item.id }}" ng-cloak class="ng-cloak">
    <div class="panel panel-default panel-icon profile-avatar panel-landscape">
      <a href="{{ item.detail_url }}" class="panel-heading"
         style="background-image:url('{{ item.thumbnail_url }}');"></a>
      <div class="panel-body item-details">
        {% endverbatim %}

        {% block icon %}
        {% endblock %}

        {% verbatim %}
        <p class="item-meta">
        <span class="item-category">
          {{ item.category__gn_description }}
        </span>
        </p>
        <h3 class="title-ellipsis">
          <a href="{{ item.detail_url }}">
            {{ item.title }}
          </a>
        </h3>
        <p class="text-muted abstract">
          {{ item.abstract | limitTo: 300 }}{{ item.abstract.length > 300 ? '...' : ''}}
        </p>
        <time>
          <a id="dataset-info" href="{{ item.detail_url }}#info">
            {{ item.date|date:"y/M/d" }}
          </a>
        </time>
      </div>
    </div>
  </article>

</div>
{% endverbatim %}
<script type="text/javascript" src="{% url "lang" %}"></script>
<script src="{{ STATIC_URL }}geonode/js/classie.js"></script>
<script src="{{ STATIC_URL }}geonode/js/date.js"></script>
